<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>366855298298-g0nvbrnneibnq2sgodmh29i160r2cl3i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.366855298298-g0nvbrnneibnq2sgodmh29i160r2cl3i</string>
	<key>API_KEY</key>
	<string>AIzaSyCbtB2x4B-V5y15NCsXHWCsxyLgTHegnx8</string>
	<key>GCM_SENDER_ID</key>
	<string>366855298298</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.belleluck.myapp.MovieApp</string>
	<key>PROJECT_ID</key>
	<string>miniproject-cb2f6</string>
	<key>STORAGE_BUCKET</key>
	<string>miniproject-cb2f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:366855298298:ios:d13f767cc19c132e6ffd43</string>
</dict>
</plist>